.ui.top.menu,
.bottom {
    font-size: 2vh;
}

.ui.top.menu #page-title {
    font-size: 3vh;
    display: flex;
    align-items: center;
    margin: auto;
    margin-left: 20px;
}

.ui.bottom .vertical.sidebar.menu {
    font-size: 2vh;
}

.pusher {
    padding-top: 20px;
}

#overlay{
    color:red;
    position:absolute;
    z-index: 2;
}

.camera-container #overlay {
    width: 20%;
    background-color: rgba(255, 255, 255, 0.5)
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    height: 100%;
}
